<header class="site-header" role="banner">
  <nav class="site-nav">
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger">
      <p class="menu-icon vert">+</p>
    </label>

    <div class="trigger">
      <div class="info-ctn">
        <a href="/" class="entete">

            <img id="entete-emplacement" src="/assets/titre/titre-menu.jpg" alt="">
        </a>
        <section>
          <span class="regular vert"> se renseigner sur </span>
          <a class="page-link" href="/about.html">le projet</a>
          <span class="regular vert"> et partager à son tour </span>
        </section>
        <section>
          <span class="regular vert"> retourner à la </span>
          <a class="page-link" href="/">home</a>
          <span class="regular vert">
            papilloner de recettes en histoires
          </span>
        </section>
        <section>
          <span class="regular vert"> faire une recherche précise par l' </span>
          <a class="page-link" href="/recherche/">index</a>
          <span class="regular vert"> et ses filtres </span>
        </section>
      </div>
    </div>
  </nav>
</header>
