.carte img {
  z-index: 1;
  box-sizing: border-box;
  // rotate: 30deg;
  transform-origin: bottom;
  height: calc(100vh - 10px);
  max-width: calc(100vw - 10px);
  object-fit: contain;
  overflow: visible;
  transition: all 1s;
}

#container {
  position: absolute;
  transform-origin: center;
  width: 1px;
  height: 1vh;
  margin-top: auto;
  margin-bottom: auto;
  // overflow: hidden;
  // left: calc(50vw - #{$largeur-carte / 2});
  // top: calc(50vh - #{$hauteur-carte / 2});
}

.home {
  max-width: 100%;
  // pas une super idée
}
.ui-draggable {

  overflow: hidden;
}
.carte {
  width: fit-content;
  transform-origin: center;
  position: absolute;
}
