.carte img {
  z-index: 1;
  box-sizing: border-box;
  // rotate: 30deg;
  transform-origin: bottom;
  height: calc(100vh - 10px);
  max-height: 50vh;
  max-width: calc(100vw - 10px);
  object-fit: contain;
  overflow: visible;
  transition: all 1s;
  border-radius: 20px;
}

.carte-titre {
  position: absolute;
  // background-color: $noir-brun;
  // color: $blanc;
  bottom: -100px;
  // overflow: visible !important;
  width: 80%;
  font-family: $Meta !important;
  margin: 0 10%;
  font-size: $M;
  line-height: $M-LH;
  padding: $goutiere 0;
  text-align: center;
  opacity: 0;
  text-decoration: underline;
}
.active {
  opacity: 1;
} 

#container {
  position: absolute;
  transform-origin: center;
  width: 1px;
  height: 1vh;
  margin-top: auto;
  margin-bottom: auto;
  // overflow: hidden;
  // left: calc(50vw - #{$largeur-carte / 2});
  // top: calc(50vh - #{$hauteur-carte / 2});
}

.home {
  max-width: 100%;
  // pas une super idée
}
.ui-draggable {

  // overflow: hidden;
}
.carte {
  width: fit-content;
  transform-origin: center;
  position: absolute;
}
