@font-face {
  font-family: "Felltype";
  src: url("../assets/fonts/Felltype/Historical-FellType-Italic.otf") format("opentype");
}
@font-face {
  font-family: "Fluxisch";
  src: url("../assets/fonts/Fluxisch/FluxischElse-Regular.otf") format("opentype");
}
@font-face {
  font-family: "MetaAccanthis";
  src: url("../assets/fonts/MetaAccanthis/MetaAccanthis_regular.woff")
    format("woff");
}
@font-face {
  font-family: "MetaAccanthis-Alternate";
  src: url("../assets/fonts/MetaAccanthis/MetaAccanthisAlternate.woff")
    format("woff");
}

