
.home {
    // z-index: 0;
    flex-wrap: wrap;
    flex-grow: 1;
    height : 100%;

    * {
    margin: 0;    

    }
}




.home h1{
    text-align: center;
    font-size: $XL;
    height: 100px;
    z-index: 30;
    position: absolute;
    width: 100%;
}
.home h1:nth-of-type(1){
    top: 0;
}
.home h1:nth-of-type(2){
    bottom: 0;
}

.cor-optique {
    margin-top: 20px;
}