#tabs {
    overflow-y: hidden;
    ul {
        .ui-tabs-active {
            color: blue !important;
            border: none;
        }
        position: absolute;
        top:0;
        left: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        // background-color: red;
        margin: 0;
        z-index: 0;
        li {
            a {
                color: $rouge-rose;
                font-family: $Flux;
                font-weight: bold;
            }
            border-top: none;
            border: 2px solid grey;
            width: 50%;
            text-align: center;
            list-style: none;
            font-size: $M;
            padding: $goutiere*2 0;
        }
    }
    .tags {
        margin-top: $goutiere*6;
    }

}

button {
    border: none;
    font-family: $Meta;
    font-size: $L * 2;
}
.tags {
    display: flex;
    flex-direction: column;
    text-align: center;
    

    gap: $goutiere;
    .tag-ctn {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        p {
            font-size: $L;
    color: $rouge-rose;
        }
        .tag-buttons {
            gap: $goutiere;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
}

.thematiques-ctn {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    .thematique{
        &:nth-of-type(1){
            text-align: right;
            transform: rotate(5deg);
        }
        &:nth-of-type(2){
            transform: rotate(-3deg);
        }
        height: 200px;
        width: 100%;
        a{
            padding: 0 50px;
            text-align: center;
            color: $noir-brun;
            font-family: $Meta;
            text-decoration: underline;
            font-size: $L;
        }

    }
}
.thematiques-filtres {
    p {
        padding: 0;
        color: $rouge-rose;

    }
    * {
        font-family: $FluxLight;
        font-size: $L !important;
        line-height: $L-LH !important;
    }
    position: absolute;
    top: $goutiere * 12;
    button{
        color: $rouge-rose;
        display: block;
        margin-left: $goutiere * 2;
        background: none;
        &:hover {
            cursor: pointer;
        }
        &:nth-child(2){
            color: $vert
        }
    }

}