/**
 * Site header
 */
.site-header {
  z-index: 1000;

  // border-top: 5px solid $grey-color-dark;
  // border-bottom: 1px solid $grey-color-light;

  // Positioning context for the mobile navigation icon
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  
  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  .nav-trigger {
    display: none;
  }

  .menu-icon {
    z-index: 1001;

    display: none;

  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

  }

  position: absolute;
  top: $goutiere;
  right: $goutiere;
  // background-color: $background-color;
  // border: 1px solid $grey-color-light;
  border-radius: 5px;

  label[for="nav-trigger"] {
    // display: block;
    opacity: 1;
    float: right;
    width: 36px;
    height: 36px;
    // z-index: 2;
    cursor: pointer;
  }

  .menu-icon {
    display: block;
    position: absolute;
    text-align: center;
    font-size: 48px;
  }
  

  input ~ .trigger {
    // display: none;
    opacity: 0;
    pointer-events: none;
    transition: all $duree-transition;
  }
  input:checked ~ .trigger {
    opacity: 1;
    pointer-events: all;
    display: block;
    padding-bottom: 5px;
    
  }

  .page-link {
    display: block;
    padding: 5px 10px;

    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;
  }
  .info-ctn {
    position: fixed;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // z-index: 0;
    // transition: all 1s;
    background-color: $blanc;

    .entete {
      background-color: $blanc;
      width: 100%;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      #entete-emplacement {
        align-self: center;
        width: 300px;
        object-fit: contain;
        height: 70%;
        p {
          font-family: $M;
          text-align: center;
          line-height: 36px;
          margin-top: 23px;
          font-size: $M;
          color: $blanc;
        }
      }
    }
    section {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 3;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      // height: 100%;
      background: linear-gradient(180deg, $blanc 95%, $vert 100%);
      * {
        line-height: 40px;
        align-self: center;
        word-wrap: break-word;
        width: 300px;
      }
      a {
        margin-left: 0;
        font-size: 50px;
        font-weight: bold;
      }
      align-self: center;
      width: 200%;
    }
    section:nth-of-type(1){
      transform:rotate(5deg);
      * {
        transform:rotate(-5deg);
      }
      z-index: 30;
    }
    section:nth-of-type(2){
      transform:rotate(-2deg);
      * {
        transform:rotate(2deg);
      }
    }
    section:hover {
      background: linear-gradient(180deg, $blanc 95%, $rouge-rose 100%);
      span {
        color: $rouge-rose;
      }
    }
  }
}

label p {
  transform: rotate(0deg) !important;
  transition: all .1s;
}
label p:hover {
  color: $rouge-rose;
}
input:checked ~ label p {
  transform: rotate(45deg) !important;

}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

.titre-nav {
  max-height: 100%;
}

/**
 * Page content
 */
.page-content {
  overflow-x: hidden;
  padding: 0;
  padding: $goutiere;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
