---
layout: default
---

<div class="home">
  {{ content }}
  <script src="assets/js/jquery-3.6.0.min.js"></script>
  <script src="assets/js/jquery-ui.min.js"></script>
  <script src="assets/js/jquery.ui.touch-punch.min.js"></script>
  <script src="assets/js/carroussel.js" defer></script>
  <img class="titre-img" src="/assets/titre/titre-home_bout1.png" alt="">

  <div class="cartes-ctn">
    <div class="carroussel" id="container">
      {%- for recette in site.recettes -%} {%- if recette.entete -%}
      <div class="carte">

        <a href="{{ recette.url | relative_url }}">
          <img
          class="carte-img"
          onload="fadeIn(this)"
          src="/assets/images/{{recette.entete}}"
          alt=""
          />
          <p class="carte-titre">{{recette.titre}}</p>
        </a>
      </div>
      {%- endif -%} {%- endfor -%} 
      {%- assign sorted_thematiques = site.thematiques | sort:"order" -%}
      {%- for thematique in sorted_thematiques -%}
      {%- if thematique.entete -%}
<div class="carte thematique">

  <a  href="{{ thematique.url | relative_url}}">
    <img
    class="carte-img"
    onload="fadeIn(this)"
    src="/assets/images/{{thematique.entete}}"
    alt=""
    />
    <p class="carte-titre">{{thematique.titre}}</p>

  </a>
</div>
  {%- endif -%} {%- endfor -%}
</div>
  </div>
  <img class="titre-img" src="/assets/titre/titre-home_bout2.png" alt="">

</div>
