<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
{%- include head.html -%}

<body>

  <script src="/assets/js/jquery-3.6.0.min.js"></script>
  <script src="/assets/js/jquery-ui.min.js"></script>


  {%- include header.html -%}
  <main class="page-content thematique-content" aria-label="Content">

      <img class="carrousel-solo thema-img" src="/assets/images/{{page.entete}}" alt="">
      <h1 class="thema-titre">{{page.titre}}</h1>
      <div class="thema-bordure"></div>
    {{ content }}


  </main>
</body>

</html>